*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul{
    position: absolute;
    color: rgb(104, 99, 99);
    font-size: 15px;
    list-style-type: none;
    margin: 30px;
    position: relative;
    padding: 0%;
    overflow: hidden;
    background-color: white);
}

#Vaccination{
    color: rgb(61, 61, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}

li{
    line-height: 35px;
    margin: 45px;
    font-size: 15px;
    display: inline-block;
    position: relative;
    text-align: center;
    float: left;
}

#inf{
    background-color: rgb(61, 61, 255);
    border-radius: 8px;
    color: white;
    border-style: none;
    font-size: 15px;
    height: 35px;
    width: 150px;


}

h1{
    font-size: 50px;
    color: rgb(43, 43, 102);
    text-align: left;
}

p{
    font-size: 20px;
    color: rgb(102, 102, 209);
}


#InformacionBa{
    margin: 50px;
}

#ImagenBa{
    
    background-color: blue;
}